@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.button {
    color: #fff;
    font-weight: 700;
    background-color: #04DDB2;
    padding: 1vw 1.7vw;
    border-radius: 999rem;
    font-size: 1vw;
    transition: .3s ease-in-out;

    &:hover {
        scale: 1.1;
    }
}



header {
    width: 100%;
    min-height: 100vh;
    position: relative;


    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 12vh;
        padding-inline: 4rem;
        position: fixed;
        background-color: #ffffff;
        z-index: 99;



        #nav-middle {
            display: flex;
            align-items: center;
            gap: 3rem;

            a {
                color: #000;
                opacity: .5;
                font-weight: 600;

                &.active {
                    opacity: 1;
                }
            }
        }



    }

    .container {
        width: fit-content;
        min-height: inherit;
        position: absolute;
        text-align: center;
        // background-color: red;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-size: 4vw;
            color: #333333;

            span {
                color: #04DDB2;
            }
        }

        h2 {
            color: #333333;
            font-size: 1.5vw;
            font-weight: 400;
            width: 70%;
        }

        .video-container {

            margin-top: 5rem;

            transition: .3s ease-in-out all;
            background: url(./Video.jpg) no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 30px;
            width: 120%;
            height: 500px;
            scale: 1.050;





            &:hover {
                scale: 1.060;
                // box-shadow: 7px 7px 60px #0000008e;
            }
        }

    }
}



section {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
        color: #333333;
        font-size: 3.5vw;
        width: 30%;
        text-align: center;
        line-height: 1.2;
        margin-top: 10rem;
    }

    a {
        margin-top: 3rem;
        padding: .8vw 2.5vw;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 15rem;
    height: 60vh;
    width: 100%;

    .footer-container {
      
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 6rem;
        border-top: 1px solid #33333388;
        padding-top: 1rem;


        div {
            display: flex;
            align-items: flex-start;
            // justify-content: flex-end;
            flex-direction: column;
            text-align: left;
            color: #333333;
            gap: 1rem;

            svg {
                text-align: left;
                width: 40%;
                height: 40%;
                margin-bottom: 1rem;
            }

            h2 {
                font-size: .95vw;
                color: #000000c7;
            }

            h3 {
                font-size: .9vw;
                opacity: .8;
                font-weight: 400;
            }

            a {
                background-color: transparent !important;
                color: #3333339f !important;
                padding: 0 !important;
                font-size: .9vw !important;
                font-weight: 500 !important;
                cursor: pointer;
            }


            
        }


        div:nth-child(5) {
            flex-direction: row;
            // width: 200px;
            // height: 210px;
            // background-color: red;
            
            a {
                color: #fff !important;
                font-size: 1.5vw !important;
                background-color: #04DDB2 !important;
                i {
                    border-radius: 50% !important;
                }
            }
        }
    
        
    }
}